# 151-160

In [1]:
리스트 = [3, -20, -3, 44]

for i in 리스트:
    if i < 0:
        print(i)
    else:
        pass

-20
-3

In [9]:
리스트 = [3, 100, 23, 44]

for i in 리스트:
    if i % 3 == 0:
        print(i)
    else:
        pass

3

In [10]:
리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
    if (i < 20) and (i % 3 == 0):
        print(i)

12
18

In [11]:
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i) > 3:
        print(i)

study
python
language

In [4]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [5]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.islower():
        print(i)

b
c

In [11]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    a = i[0]
    b = a.upper()
    print(b+i[1:])

Dog
Cat
Parrot

In [18]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']


for i in 리스트:
    a = i.split(".")
    print(a[0])

hello
ex01
intro

In [35]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    a = i.split(".")
    if a[1] == "h":
        print(i)

intra.h
define.h

In [39]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    a = i.split(".")
    if (a[1] == "h") or (a[1] == "c"):
        print(i)

intra.h
intra.c
define.h

# 161-170

In [51]:
for i in range(1, 100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [60]:
w = 2002

for i in range(2002, 2050, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046

In [66]:
for i in range(1, 30):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27

In [67]:
for i in range(0, 100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [69]:
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [72]:
for i in range(1, 10):
    print(i, "x", i, "=", 3*i)

1 x 1 = 3
2 x 2 = 6
3 x 3 = 9
4 x 4 = 12
5 x 5 = 15
6 x 6 = 18
7 x 7 = 21
8 x 8 = 24
9 x 9 = 27

In [75]:
for i in range(1, 10):
    if i % 2 == 1:
        print(i, "x", i, "=", 3*i)

1 x 1 = 3
3 x 3 = 9
5 x 5 = 15
7 x 7 = 21
9 x 9 = 27

In [83]:
a = 0

for i in range(1, 11):
    a += i
print("합:", a)

합: 55

In [98]:
a = 0

for i in range(1, 11):
    if i % 2 == 1:
        a = a + i
print(a)

25

In [104]:
a = 1

for i in range(1, 11):
    a = a * i
print(a)

3628800

# 171-180

In [109]:
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [110]:
price_list = [32100, 32150, 32000, 32500]

for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [111]:
for i in range(len(price_list)):
    print(3 - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [112]:
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [116]:
print(my_list[0], my_list[1])
print(my_list[1], my_list[2])
print(my_list[2], my_list[3])

가 나
나 다
다 라

In [118]:
my_list = ["가", "나", "다", "라", "마"]

print(my_list[0], my_list[1], my_list[2])
print(my_list[1], my_list[2], my_list[3])
print(my_list[2], my_list[3], my_list[4])

가 나 다
나 다 라
다 라 마

In [119]:
my_list = ["가", "나", "다", "라"]

for i in [2, 1, 0] :
    print(my_list[i+1], my_list[i])

라 다
다 나
나 가

In [120]:
my_list = [100, 200, 400, 800]

for i in [0, 1, 2]:
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [121]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(1, len(my_list) - 1):
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [123]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])