# 201- 210

In [9]:
def print_coin():
    print("비트코인")

In [10]:
print_coin()

비트코인

In [14]:
def print_coins():
    for i in range(100):
        print("비트코인")

In [17]:
hello()
def hello():
    print("Hi")
    
#함수를 정의하기 전에 호출됨

NameError: name 'hello' is not defined

In [18]:
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [19]:
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [20]:
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [21]:
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

# 211-220

In [22]:
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [24]:
def 함수(a) :
    print(a)

함수("안녕")
함수("Hi")

안녕
Hi

In [25]:
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [26]:
def 함수(문자열) :
    print(문자열)

In [29]:
함수()

# 함수에 인풋값을 넣어주지 않았기 때문

TypeError: 함수() missing 1 required positional argument: '문자열'

In [30]:
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)

#string과 int를 더할 수 없기 때문

TypeError: can only concatenate str (not "int") to str

In [44]:
def print_with_smile(a):
    print(a + ":D")

In [45]:
print_with_smile("안녕하세요")

안녕하세요:D

In [46]:
def print_upper_price(a):
    print(int(a)+ int(a)*0.3)

In [48]:
def print_sum(a, b):
    print(a + b)

In [55]:
def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)

In [56]:
print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [57]:
def print_max(a, b, c):
    d = [a, b, c]
    print(max(d))

# 221-230

In [59]:
def print_reverse(a):
    print(a[::-1])

In [87]:
def print_score(*args):
    a = [*args]
    print(sum(a)/ len(a))

In [94]:
def print_even(a):
    for i in a:
       if i % 2 == 0:
        print(i)

In [95]:
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [99]:
def print_keys(a):
    for i in a.keys():
        print(i)
    
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [103]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(my_dict, b):
    print(my_dict[b])

In [104]:
print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

In [105]:
def print_5xn(a):
    print(a[:5])
    print(a[5:])

In [118]:
def printmxn(string, num):
    print(string[:num])
    print(string[num: num*2])
    print(string[num*2:num*3])
    print(string[num*3:num*4])

In [132]:
def calc_monthly_salary(annual_salary):
    return(int(annual_salary/12))

In [133]:
calc_monthly_salary(1000)

83

In [134]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [135]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

# 231-240

In [136]:
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

NameError: name 'result' is not defined

In [145]:
def make_url(string):
    url = "www." + string + ".com"
    return url

In [146]:
make_url("naver")

'www.naver.com'

In [147]:
def make_list(a):
    my_list = list(a)
    return my_list

In [149]:
type(make_list("abcd"))

list

In [167]:
def pickup_even(a):
    b = list(a)
    c = []
    for i in b:
        if i % 2 == 0:
            c.append(i)
    return c

In [168]:
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [169]:
def convert_int(a):
    b = a.replace(",", "")
    c = int(b)
    return c

In [170]:
convert_int("1,234,567")

1234567

In [171]:
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [172]:
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [173]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [174]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [175]:
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28

# 241-250

In [185]:
import datetime

now = datetime.datetime.now()
print(now)

2024-03-17 18:03:41.244649

In [186]:
import datetime

now = datetime.datetime.now()
print(now, type(now))

2024-03-17 18:04:21.543710 <class 'datetime.datetime'>

In [187]:
import datetime

now = datetime.datetime.now()

for day in range(5, 0, -1):
    delta = datetime.timedelta(days=day)
    date = now - delta
    print(date)

2024-03-12 21:30:08.422060
2024-03-13 21:30:08.422060
2024-03-14 21:30:08.422060
2024-03-15 21:30:08.422060
2024-03-16 21:30:08.422060

In [189]:
import datetime

now = datetime.datetime.now()
print(now.strftime("%H:%M:%S"))

21:30:56