# 151-160

In [1]:
리스트 = [3, -20, -3, 44]

for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [4]:
리스트 = [3, 100, 23, 44]

for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [5]:
리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
    if (i <20) and (i % 3 == 0):
        print(i)

12
18

In [10]:
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [12]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [15]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.islower():
        print(i)

b
c

In [21]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i.upper()[0] + i[1:])

Dog
Cat
Parrot

In [29]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
    print(i.split(".")[0])

hello
ex01
intro

In [30]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    a = i.split(".")
    if a[1] == "h":
        print(i)

intra.h
define.h

In [34]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    a = i.split(".")
    if a[1] == "h" or a[1] == "c":
        print(i)

intra.h
intra.c
define.h

# 161-170

In [35]:
for i in range(0, 100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [39]:
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [42]:
for i in range(1, 31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [49]:
for i in range(0, 100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [51]:
for i in range(0, 10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [53]:
for i in range(1, 10):
    print("3x", i, "=", i*3)

3x 1 = 3
3x 2 = 6
3x 3 = 9
3x 4 = 12
3x 5 = 15
3x 6 = 18
3x 7 = 21
3x 8 = 24
3x 9 = 27

In [55]:
for i in range(1, 10, 2):
    print(3, "x", i, "=", i*3)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [67]:
a = 0
for i in range(1, 11):
    a = a+ i
print(a)

55

In [70]:
a = 0

for i in range(1, 11):
    if i % 2 == 1:
        a = a + i
print("합:", a)

합: 25

In [72]:
a = 1

for i in range(1, 11):
    a = a * i
print(a)

3628800

# 171-180

In [96]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [87]:
price_list = [32100, 32150, 32000, 32500]

for i, b in enumerate(price_list):
    print(i, b)

0 32100
1 32150
2 32000
3 32500

In [93]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [107]:
price_list = [32100, 32150, 32000, 32500]
a = 90

for i in range(3):
    a += 10
    print(a, price_list[i])

100 32100
110 32150
120 32000

In [113]:
my_list = ["가", "나", "다", "라"]

print(my_list[0], my_list[1])
print(my_list[1], my_list[2])
print(my_list[2], my_list[3])

가 나
나 다
다 라

In [118]:
my_list = ["가", "나", "다", "라", "마"]

print(my_list[0], my_list[1], my_list[2])
print(my_list[1], my_list[2], my_list[3])
print(my_list[2], my_list[3], my_list[4])

가 나 다
나 다 라
다 라 마

In [133]:
my_list = ["가", "나", "다", "라"]

for i in [3, 2, 1]:
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [146]:
my_list = [100, 200, 400, 800]

for i in range(len(my_list) - 1):
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [147]:
my_list = [100, 200, 400, 800, 1000, 1300]


for i in range(1, len(my_list) - 1):
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [148]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])

# 181-190

In [151]:
apart = [["101호", "102호"], ["201호", "202호"], ["301호", "302호"]]

In [154]:
stock = [["시가", 100, 200, 300], ["종가", 210, 330]]

In [155]:
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330]}

In [156]:
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200]}

In [179]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [181]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [183]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [194]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [195]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

# 191-200

In [200]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for row in data:
    for col in row:
        print(col+(col*0.014))

2028.0
3092.7
2078.7
2007.72
7605.0
2078.7
2078.7
2007.72
15666.3
15260.7
15767.7
15108.6

In [204]:
for line in data:
    for column in line:
        print(column * 1.00014)
    print('---')

2000.28
3050.427
2050.2870000000003
1980.2772
---
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
---
15452.163
15052.107
15552.177
14902.086000000001
---

In [205]:
result = []

for line in data:
    for column in line:
        result.append(column*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [206]:
result = []

for line in data:
    sub = []
    for column in line:
        sub.append(column*1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [210]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for line in ohlc[1:]:
    print(line[3])

100
190
310

In [212]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    a = row[3]
    if a > 150:
        print(a)

190
310

In [213]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] >= row[0]:
        print(row[3])

100
310

In [225]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for row in ohlc[1:]:
    a = row[1] - row[2]
    volatility.append(a)
print(volatility)

[40, 30, 10]

In [227]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] >  row[0]:
        print(row[1] - row[2])

10

In [249]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]


for row in ohlc[1:]:
    a += (row[3] - row[0])
    print(a)

0
-10
0