# 101-110

In [6]:
# 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

In [7]:
bool

bool

In [8]:
print(3 == 5)
# false

False

In [9]:
print(3 < 5)
# True

True

In [10]:
x = 4
print(1 < x < 5)
#true

True

In [11]:
print ((3 == 3) and (4 != 3))
#true

True

In [13]:
print(3 => 4)
# 비교문이 아님

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1916551708.py, line 1)

In [15]:
if 4 < 3:
    print("Hello World")
# 출력값 없음, 왜냐하면 true일 경우에만 출력되는데 true가 아니기 때문

In [16]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")
# Hi there가 프린트됨

Hi, there.

In [17]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [18]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [19]:
# true라고 이미 선언해주었기 때문에 false값은 출력되지 않고 else만 출력됨

# 111-120

In [21]:
a = input()
a*2

안녕하세요

'안녕하세요안녕하세요'

In [28]:
a = input("숫자를 입력하세요: ")
int(a) + 10

숫자를 입력하세요: 1

11

In [30]:
a = input()
if int(a) % 2 == 0:
    print("짝수")
else:
    print("홀수")

45
홀수

사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

In [39]:
a = input()
b = (int(a) + 20)
if b < 255:
    print(b)
else:
    print(255)

300
255

In [47]:
a = input()
b = (int(a)-20)
if b < 0:
    print(0)
elif b > 255:
    print(255)
else:
    print(b)

59
39

In [53]:
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 05:00
정각입니다.

In [56]:
fruit = ["사과", "포도", "홍시"]

a = input("좋아하는 과일은? : ")
if a in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? : 파인애플
오답입니다.

In [58]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

a = input()
if a in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

Microsoft
투자 경고 종목입니다.

In [61]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

a = input("제가좋아하는계절은: ")
if a in fruit:
    print("정답입니다")
else:
    print("오답입니다")

제가좋아하는계절은: 봄
정답입니다

In [63]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

a = input("좋아하는과일은? : ")
if a in fruit.values():
    print("정답입니다")
else:
    print("오답입니다")

좋아하는과일은? : 딸기
정답입니다

# 121-130

In [69]:
a = input()
if a.islower():
    print(a.upper())
else:
    print(a.lower())

A
a

In [75]:
score = input()
score = int(score)
if 81 <= score < 100:
    print("grade is A")
elif 61 <= score < 80:
    print("grade is B")
elif 41 <= score < 60:
    print("grade is C")
elif 21 <= score < 40:
    print("grade is D")
elif 0 <= score < 20:
    print("grade is E")
else:
    print("점수를 다시 확인하세요")

50
grade is C

In [76]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 5 달러
5835.0 원

In [77]:
a = input("input number1: ")
b = input("input number2: ")
c = input("input number3: ")

if a >= b and a>= c:
    print(a)
elif b >= a and b>= c:
    print(b)
else:
    print(c)

input number1: 5
input number2: 4
input number3: 7
7

In [82]:
a = input("휴대전화 번호 입력: ")
if a[:3] == "011":
    print("당신은 SKT 사용자입니다.")
elif a[:3] == "016":
    print("당신은 KT 사용자입니다.")
elif a[:3] == "019":
    print("당신은 LGU 사용자입니다.")
elif a[:3] == "010":
    print("당신은 알 수 없는 사용자입니다.")
else:
    print("전화번호를 다시 확인하세요")

휴대전화 번호 입력: 011
당신은 SKT 사용자입니다.

In [106]:
a = input("우편번호: ")

if a[:3] == "010" or "011" or "012":
    print("강북구")
elif a[:3] == "013" or "014" or "015":
    print("도봉구")
elif a[:3] == "016" or "017" or "018" or "019":
    print("노원구")
else:
    print("우편번호를 확인하세요")
    
#실패작

우편번호: 42
강북구

In [109]:
a = input("우편번호: ")
a = a[:3]

if a in ["010", "011", "012"]:
    print("강북구")
elif a in ["013", "014", "015"]:
    print("도봉구")
elif a in ["016", "017", "018", "019"]:
    print("노원구")
else:
    print("우편번호를 확인하세요")

우편번호: 019
노원구

In [115]:
a = input("주민등록번호: ")
a= a[7]

if a in ["1", "3"]:
    print("남자")
elif a in ["2", "4"]:
    print("여자")
else:
    print("주민번호를 확인하세요")

주민등록번호: 901005-2050416
여자

In [ ]:
a = input("주민등록번호: ")
a= a[8:9]

if a in []:
    print("남자")
elif a in ["2", "4"]:
    print("여자")
else:
    print("주민번호를 확인하세요")

In [10]:
a = input()
b = a.split("-")[1]
c = int(b[0:2])

if 0 <= c <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

901005-2050416
서울이 아닙니다.

In [30]:
a = input("주민등록번호: ")
b = a.split("-")[0]
c = a.split("-")[1]

d = int(b[0])*2+int(b[1])*3+int(b[2])*4+int(b[3])*5+int(b[4])*6+int(b[5])*7+int(c[0])*8+int(c[1])*9+int(c[2])*2+int(c[3])*3+int(c[4])*4+int(c[5])*5

e = d % 11

if 11 - e == int(c[5]):
    print("유효")
else:
    print("유효하지 않음")

주민등록번호: 901005-2050416
유효하지 않음

In [34]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

# 131-140

In [35]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [36]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [37]:
for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [38]:
print("A")
print("B")
print("C")

A
B
C

In [39]:
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [40]:
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [41]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [42]:
print("변환:", "a")
print("변환:", "b")
print("변환:", "c")

변환: a
변환: b
변환: c

In [43]:
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

10
20
30

In [47]:
a = [10, 20, 30]

for i in a:
    print(i)

10
20
30

In [48]:
print(10)
print(20)
print(30)

10
20
30

In [49]:
a = [10, 20, 30]

for i in a:
    print(i)

10
20
30

In [50]:
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

10
-------
20
-------
30
-------

In [62]:
a = [10, 20, 30]

for i in a:
    print(i)
    print(("-")*8)

10
--------
20
--------
30
--------

In [63]:
print("++++")
print(10)
print(20)
print(30)

++++
10
20
30

In [66]:
a = ["++++", 10, 20, 30]

for i in a:
    print(i)

++++
10
20
30

In [70]:
a = [1, 2, 3, 4]

for i in a:
    print("-----")

-----
-----
-----
-----

# 141-150

In [72]:
리스트 = [100, 200, 300]

for i in 리스트:
    print(i+10)

110
210
310

In [73]:
리스트 = ["김밥", "라면", "튀김"]

for i in 리스트:
    print("오늘의 메뉴:" + i)

오늘의 메뉴:김밥
오늘의 메뉴:라면
오늘의 메뉴:튀김

In [74]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 리스트:
    print(len(i))

6
4
4

In [78]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i + str(len(i)))

dog3
cat3
parrot6

In [79]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i[0])

d
c
p

In [81]:
리스트 = [1, 2, 3]

for i in 리스트:
    print("3 x" + str(i))

3 x1
3 x2
3 x3

In [88]:
리스트 = [1, 2, 3]

for i in 리스트:
    print("3 x " + str(i) + " = " + str(3*i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [93]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트[1:]:
    print(i)

나
다
라

In [94]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트[0::2]:
    print(i)

가
다

In [100]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트[::-1]:
    print(i)

라
다
나
가