# 1-10

In [1]:
print("Hello World")

Hello World

In [3]:
print("Mary's cosmetics")

Mary's cosmetics

In [7]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [8]:
print("C:\Windows")

C:\Windows

In [9]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [10]:
# \t: 탭
# \n: 줄바꿈

In [11]:
print ("오늘은", "일요일")

오늘은 일요일

In [12]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [13]:
# 정답
print("naver", "kakao", "samsung", sep=";")

In [14]:
print("naver", "kakao", "sk", "samsung", sep = "/")

naver/kakao/sk/samsung

In [15]:
print("first");print("second")

first
second

In [16]:
print("first", end=""); print("second")

firstsecond

In [17]:
5/3

1.6666666666666667

# 11-20

In [3]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [4]:
시가총액 = "298조"
현재가 = "50,000원"
PER = 15.79
print(시가총액, 현재가, PER)

298조 50,000원 15.79

In [7]:
s = "hello"
t = ' python'
print(s + '!' + t)

hello! python

In [8]:
2 + 2 * 3

8

In [9]:
a = "132"
type(a)

str

In [10]:
num_str = "720"
type(num_str)

str

In [13]:
num_int = int(num_str)
type(num_int)

int

In [14]:
num = 100
str = str(num)
type(str)

str

In [15]:
float(15.79)

15.79

In [19]:
year = "2020"
num = int(year)
type(num)

int

In [20]:
num, num+1, num+2

(2020, 2021, 2022)

In [21]:
#에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
# 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [23]:
x = 48584
output = x * 36
output

1749024

# 21-30

In [24]:
letters = 'python'
print (letters[0], letters[2])

p t

In [26]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [27]:
string = "홀짝홀짝홀짝"
print(string[0], string[2], string[4])

홀 홀 홀

In [29]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [32]:
phone_number = "010-1111-2222"
phone_number.replace("-", " ")

'010 1111 2222'

In [33]:
phone_number = "010-1111-2222"
phone_number.replace("-", "")

'01011112222'

In [38]:
url = "http://sharebook.kr"
print(url[-2:])

kr

In [43]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [53]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [54]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

# 31-40

In [55]:
a = "3"
b = "4"
print(a + b)

34

In [56]:
print("Hi" * 3)

HiHiHi

In [57]:
print('-'*80)

--------------------------------------------------------------------------------

In [61]:
t1 = 'python'
t2 = 'java'
(t1 + t2) * 4

'pythonjavapythonjavapythonjavapythonjava'

In [64]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [70]:
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [71]:
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [76]:
상장주식수 = "5,969,782,550"
output1 = 상장주식수.replace(',', '')
output2 = int(output1)
output2

5969782550

In [80]:
분기 = "2020/03(E) (IFRS연결)"
a = 분기[:7]
a

'2020/03'

In [84]:
data = "   삼성전자    "
a = data.strip()
a

'삼성전자'

In [85]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [87]:
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [91]:
a = "hello"
a.capitalize()

'Hello'

In [94]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [95]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx" or 'xls')

True

In [98]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [100]:
a = "hello world"
a.split()

['hello', 'world']

In [101]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [102]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [103]:
data = "039490     "
data.rstrip()

'039490'