# 51-60

In [ ]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [18]:
movie_rank.append("배트맨")
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [19]:
movie_rank.insert(1, "슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [21]:
del movie_rank[3]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [22]:
del movie_rank[2:]
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [23]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang1 + lang2

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [25]:
nums = [1, 2, 3, 4, 5, 6, 7]
min = min(nums)
max = max(nums)
min, max

(1, 7)

In [26]:
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [29]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [31]:
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
average

3.0

# 61-70

In [32]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [33]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [35]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [36]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [39]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [42]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
" ".join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [43]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
"/".join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [48]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [56]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
interest

['삼성전자', 'LG전자', 'Naver']

In [57]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()

In [58]:
data

[1, 2, 3, 4, 5, 9, 10]

# 71-80

In [61]:
my_variable = ()
type(my_variable)

tuple

In [62]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [63]:
a = (1, )
a

(1,)

In [64]:
type(a)

tuple

In [65]:
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [66]:
# 튜플은 값 변경 불가

In [67]:
t = 1, 2, 3, 4

In [68]:
type(t)

tuple

In [71]:
t = ('a', 'b', 'c')

In [72]:
t = ('A', 'b', 'c')
t

('A', 'b', 'c')

In [75]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
a = list(interest)
type(a)

list

In [76]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
a = tuple(interest)
type(a)

tuple

In [77]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [79]:
a = tuple(range(2, 100, 2))
a

(2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98)

# 81-90

In [80]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [81]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [82]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [84]:
temp = {}
temp

{}

In [85]:
a = {'메로나': 1000, '폴라포':1200, '빵빠레': 1800}
a

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [90]:
a['죠스바']= 1200
a['월드콘']= 1500
a

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [91]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice.get('메로나')

1000

In [93]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice["메로나"] = 1300
ice

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [99]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice['메로나']
ice

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [100]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

KeyError: '누가바'

In [101]:
#딕셔너리에 '누가바' 키가 없음

# 91-100

In [102]:
inventory = {'메로나': [300, 20], '비비빅' : [400, 3], '죠스바': [250, 100] }
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [114]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][0],'원')

300 원

In [116]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory["메로나"][1], '개')

20 개

In [117]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [119]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream.keys()

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'])

In [121]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream.values()

dict_values([1200, 1200, 1800, 1500, 1000])

In [122]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
sum(icecream.values())

6700

In [126]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream['팥빙수'] = 2700
icecream['아맛나'] = 1000
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [129]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

a = dict(zip(keys, vals))
a

{'apple': 300, 'pear': 250, 'peach': 400}

In [132]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}